<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<h1 class="h1">NFL Wordle</h1>

<main>
    <form id="form" class="input" action="/" method="POST">
        <input type="text" id="input" name="player" placeholder = <%= players.length + 1 %><% if (guess.found) { %>
            readonly = "readonly"
        <% } %>> 
        
    </form>

    <div class=stats>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Div</th>
                    <th>Team</th>
                    <th>Pos</th>
                    <th>HT</th>
                    <th>Weight</th>
                    <th>Age</th>
                    <th>#</th>
                </tr>
            </thead>

            <% if (players.length > 0 && players.length <= 8) { %>
                <% for (let i = 0; i < players.length; i++) { %>
                    <tr>
                        <% if (guess.name == players[i].name) { %>
                            <td class = "green"><%=players[i].name%></td>
                        <% } else { %>
                            <td> <%=players[i].name%></td>
                        <% } %>
                        <% if (guess.div == players[i].div) { %>
                            <td class = "green"><%= players[i].div %></td>
                        <% } else if (guess.conf == players[i].conf) { %>
                            <td class = "yellow"><%= players[i].div %></td>
                        <% } else { %>
                            <td><%= players[i].div %></td>
                        <% } %>
                        <% if (guess.team == players[i].team) { %>
                            <td class = "green"><%= players[i].team %></td>
                        <% } else if (guess.div == players[i].div) { %>
                            <td class = "yellow"><%= players[i].team %></td>
                        <% } else { %>
                            <td><%= players[i].team %></td>
                        <% } %>
                        <% if (guess.pos == players[i].pos) { %>
                            <td class = "green"><%= players[i].pos %></td>
                        <% } else if (guess.side == players[i].side) { %>
                            <td class = "yellow"><%= players[i].pos %></td>
                        <% } else { %>
                            <td><%= players[i].pos %></td>
                        <% } %>
                        <% if (guess.height_in == players[i].height_in) { %>
                            <td class = "green"><%= players[i].height %></td>
                        <% } else if (guess.height_in <= players[i].height_in + 2 && guess.height_in >= players[i].height_in - 2) { %>
                            <td class = "yellow"><%= players[i].height %></td>
                        <% } else { %>
                            <td><%= players[i].height %></td>
                        <% } %>
                        <% if (guess.weight_lbs == players[i].weight_lbs) { %>
                            <td class = "green"><%= players[i].weight %></td>
                        <% } else if (guess.weight_lbs <= players[i].weight_lbs + 20 && guess.weight_lbs >= players[i].weight_lbs - 20) { %>
                            <td class = "yellow"><%= players[i].weight %></td>
                        <% } else { %>
                            <td><%= players[i].weight %></td>
                        <% } %>                           
                        <% if (guess.age == players[i].age) { %>
                            <td class = "green"><%= players[i].age %></td>
                        <% } else if (guess.age <= players[i].age + 3 && guess.age >= players[i].age - 3) { %>
                            <td class = "yellow"><%= players[i].age %></td>
                        <% } else { %>
                            <td><%= players[i].age %></td>
                        <% } %>
                        <% if (guess.jersey == players[i].jersey) { %>
                            <td class = "green"><%= players[i].jersey %></td>
                        <% } else if (guess.jersey <= players[i].jersey + 3 && guess.jersey >= players[i].jersey - 3) { %>
                            <td class = "yellow"><%= players[i].jersey %></td>
                        <% } else { %>
                            <td><%= players[i].jersey %></td>
                        <% } %>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </div>

</main>
<%- include('includes/end.ejs') %>