<%- include('includes/head.ejs') %>
<h1 class="h1">NFL Wordle</h1>

<main>
    <form id="form" class="input" action="/" method="POST">
        <!--Guess # should dynamically update (ignore for now)-->
        <input type="text" id="input" name="player" placeholder = <%= players.length + 1 %>>
    </form>

    <div class=stats>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Div</th>
                    <th>Team</th>
                    <th>Pos</th>
                    <th>HT</th>
                    <th>Weight</th>
                    <th>Age</th>
                    <th>#</th>
                </tr>
            </thead>

            <% if (players.length > 0 && players.length <= 8) { %>
                <% for (let i = 0; i < players.length; i++) { %>
                    <tr>
                        <th id = "name"><%= players[i].name %></th>
                        <th id = "div">
                            <% if (guess.div == players[i].div) { %>
                                <mark class = "green"><%= players[i].div %></mark>
                            <% } else if (guess.conf == players[i].conf) { %>
                                <mark class = "yellow"><%= players[i].div %></mark>
                            <% } else { %>
                                <%= players[i].div %>
                            <% } %>
                        </th>
                        <th id = "team">
                            <% if (guess.team == players[i].team) { %>
                                <mark class = "green"><%= players[i].team %></mark>
                            <% } else if (guess.div == players[i].div) { %>
                                <mark class = "yellow"><%= players[i].team %></mark>
                            <% } else { %>
                                <%= players[i].team %>
                            <% } %>
                        </th>
                        <th id = "pos">
                            <% if (guess.pos == players[i].pos) { %>
                                <mark class = "green"><%= players[i].pos %></mark>
                            <% } else if (guess.side == players[i].side) { %>
                                <mark class = "yellow"><%= players[i].pos %></mark>
                            <% } else { %>
                                <%= players[i].pos %>
                            <% } %>
                        </th>
                        <th id = "ht">
                            <% if (guess.height_in == players[i].height_in) { %>
                                <mark class = "green"><%= players[i].height %></mark>
                            <% } else if (guess.height_in <= players[i].height_in + 2 && guess.height_in >= players[i].height_in - 2) { %>
                                <mark class = "yellow"><%= players[i].height %></mark>
                            <% } else { %>
                                <%= players[i].height %>
                            <% } %>
                        </th>
                        <th id = "wt">
                            <% if (guess.weight_lbs == players[i].weight_lbs) { %>
                                <mark class = "green"><%= players[i].weight %></mark>
                            <% } else if (guess.weight_lbs <= players[i].weight_lbs + 20 && guess.weight_lbs >= players[i].weight_lbs - 20) { %>
                                <mark class = "yellow"><%= players[i].weight %></mark>
                            <% } else { %>
                                <%= players[i].weight %>
                            <% } %>
                        </th>
                        <th id = "age">
                            <% if (guess.age == players[i].age) { %>
                                <mark class = "green"><%= players[i].age %></mark>
                            <% } else if (guess.age <= players[i].age + 3 && guess.age >= players[i].age - 3) { %>
                                <mark class = "yellow"><%= players[i].age %></mark>
                            <% } else { %>
                                <%= players[i].age %>
                            <% } %>
                        </th>
                        <th id = "jersey">
                            <% if (guess.jersey == players[i].jersey) { %>
                                <mark class = "green"><%= players[i].jersey %></mark>
                            <% } else if (guess.jersey <= players[i].jersey + 3 && guess.jersey >= players[i].jersey - 3) { %>
                                <mark class = "yellow"><%= players[i].jersey %></mark>
                            <% } else { %>
                                <%= players[i].jersey %>
                            <% } %>
                        </th>
                    </tr>
                    <!-- <% if (guess.pos == players[i].pos) { %>
                        <script>
                            document.getElementById("pos").style.background = "green"
                        </script>
                    <% } %>
                    <% if (guess.height == players[i].height) { %>
                        <script>
                            document.getElementById("ht").style.background = "green"
                        </script>
                    <% } %>
                    <% if (guess.weight == players[i].weight) { %>
                        <script>
                            document.getElementById("wt").style.background = "green"
                        </script>
                    <% } %>
                    <% if (guess.age == players[i].age) { %>
                        <script>
                            document.getElementById("age").style.background = "green"
                        </script>
                    <% } %>
                    <% if (guess.jersey == players[i].jersey) { %>
                        <script>
                            document.getElementById("jersey").style.background = "jersey"
                        </script>
                    <% } %> -->
                <% } %>
            <% } %>
        </table>
    </div>

</main>
<%- include('includes/end.ejs') %>