<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/main.css">
<h1 class="h1">NFL Wordle</h1>

<main>
    <form id="form" class="input" action="/" method="POST">
        <input type="text" id="input" name="player" placeholder = <%= guesses.length + 1 %>
        <% if (user.status || guesses.length == 8) { %>
            readonly = "readonly"
        <% } %>
        > 
        
    </form>

    <div class=stats>
        <table>
            <thead>
                <tr>
                    <th>Guess</th>
                    <th>Name</th>
                    <th>Div</th>
                    <th>Team</th>
                    <th>Pos</th>
                    <th>HT</th>
                    <th>Weight</th>
                    <th>Age</th>
                    <th>#</th>
                </tr>
            </thead>

            <% if (guesses.length > 0 && guesses.length <= 8) { %>
                <% for (let i = 0; i < guesses.length; i++) { %>
                    <tr>
                        <td><%= i + 1 %></td>
                        <% if (player.name == guesses[i].name) { %>
                            <td class = "green"><%=guesses[i].name%></td>
                        <% } else { %>
                            <td> <%=guesses[i].name%></td>
                        <% } %>
                        <% if (player.div == guesses[i].div) { %>
                            <td class = "green"><%= guesses[i].div %></td>
                        <% } else if (player.conf == guesses[i].conf) { %>
                            <td class = "yellow"><%= guesses[i].div %></td>
                        <% } else { %>
                            <td><%= guesses[i].div %></td>
                        <% } %>
                        <% if (player.team == guesses[i].team) { %>
                            <td class = "green"><%= guesses[i].team %></td>
                        <% } else if (player.div == guesses[i].div) { %>
                            <td class = "yellow"><%= guesses[i].team %></td>
                        <% } else { %>
                            <td><%= guesses[i].team %></td>
                        <% } %>
                        <% if (player.pos == guesses[i].pos) { %>
                            <td class = "green"><%= guesses[i].pos %></td>
                        <% } else if (player.side == guesses[i].side) { %>
                            <td class = "yellow"><%= guesses[i].pos %></td>
                        <% } else { %>
                            <td><%= guesses[i].pos %></td>
                        <% } %>
                        <% if (player.height_in == guesses[i].height_in) { %>
                            <td class = "green"><%= guesses[i].height %></td>
                        <% } else if (player.height_in <= guesses[i].height_in + 2 && player.height_in >= guesses[i].height_in - 2) { %>
                            <td class = "yellow"><%= guesses[i].height %></td>
                        <% } else { %>
                            <td><%= guesses[i].height %></td>
                        <% } %>
                        <% if (player.weight_lbs == guesses[i].weight_lbs) { %>
                            <td class = "green"><%= guesses[i].weight %></td>
                        <% } else if (player.weight_lbs <= guesses[i].weight_lbs + 20 && player.weight_lbs >= guesses[i].weight_lbs - 20) { %>
                            <td class = "yellow"><%= guesses[i].weight %></td>
                        <% } else { %>
                            <td><%= guesses[i].weight %></td>
                        <% } %>                           
                        <% if (player.age == guesses[i].age) { %>
                            <td class = "green"><%= guesses[i].age %></td>
                        <% } else if (player.age <= guesses[i].age + 3 && player.age >= guesses[i].age - 3) { %>
                            <td class = "yellow"><%= guesses[i].age %></td>
                        <% } else { %>
                            <td><%= guesses[i].age %></td>
                        <% } %>
                        <% if (player.jersey == guesses[i].jersey) { %>
                            <td class = "green"><%= guesses[i].jersey %></td>
                        <% } else if (player.jersey <= guesses[i].jersey + 3 && player.jersey >= guesses[i].jersey - 3) { %>
                            <td class = "yellow"><%= guesses[i].jersey %></td>
                        <% } else { %>
                            <td><%= guesses[i].jersey %></td>
                        <% } %>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </div>

    <% if (user.status || guesses.length == 8) { %>
        <div class = "popup" id = "popup">                
            <% if (player.image) { %>
                <img src="<%=player.image%>" alt="">
             <% } %>
            <% if (user.status) { %>
                <p class = "p">Great Job!</p>
            <% } else { %>
                <p class = "p">Nice Try!</p>
            <% } %>
            <h3 class = "h3"><%= player.name %></h3>
            <% if (user.status) { %>
                <% if (guesses.length == 1) { %>
                    <p>You solved it in 1 guess</p>
                <% } else { %>
                    <p>You solved it in <%= guesses.length %> guesses</p>
                <%  }%> 
            <% } %>
            <button type = "button" onclick = "closePopup()">Close</button>
        </div>
    <% } %>
    

   <script>
    let popup = document.getElementById("popup")
    function closePopup() {
        popup.classList.add("close-popup")
    }
   </script> 
</main>

<%- include('includes/end.ejs') %>